.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.logo {
  align-items: center;
  display: flex;
  align-items: left;
  justify-content: left;
  width: 100vw;
}
.logoChild {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.titleMain {
  font-weight: 700;
  margin: 0.5rem;
}

.card {
  width: 40vw;
  height: 76vh;
  background-color: #fff;
  margin-top: 1rem;
  margin-right: 0.5rem;
  border-radius: 10px;
  position: relative;
  border: 2px solid #edf5fe;
  font-family: poppins;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 90vw;
    height: 70vh;
  }
  .checkListContainer {
    height: 50%;
  }
  .checkListScrollContainer {
    height: 70%;
  }
}
.dueDate {
  display: flex;
}
.dueDate div {
  margin-right: 1rem;
}
.card:hover {
  cursor: pointer;
}

.cardheader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.bullet {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.priority {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #707070;
  font-weight: 500;
  text-transform: capitalize;
}
.dots {
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: large;
  letter-spacing: 0.22cap;
}
.dot {
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
  margin: 3px 0;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdownContent {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #ddd;
}
.cardTitle {
  padding: 0.5rem 1rem 0rem 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}
.checkListContainer {
  padding: 1rem;
  font-family: Inter;
  height: 75%;
}
.checkListCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkListCountTitle {
  font-weight: 500;
  font-size: 0.9rem;
}
.checkListScrollContainer {
  margin-top: 1rem;
  max-height: 95%;
  overflow: auto;
  width: 100%;
  border: #000;
}
.checkListScroll {
  display: flex;
  flex-direction: column;
}

.date {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 8px;
}
.switchSection {
  display: flex;
}
.sectionBtn {
  background: #eeecec;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 8px;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cardFooter {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  color: #767575;
  margin: 1rem;
  margin-top: auto;
}
.checkListScrollContainer::-webkit-scrollbar {
  width: 0.7rem;
}

.checkListScrollContainer::-webkit-scrollbar-thumb {
  background: #8daab9cc;
  border-radius: 1rem;
}
