/* Delete component CSS */
.delete {
  position: fixed; /* Fixed position to stay relative to the viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  z-index: 1000; /* Higher z-index to ensure it's on top of other content */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Box container CSS */
.box {
  background: white;
  height: 12rem;
  width: 22rem;
  border-radius: 1rem;
  padding: 1rem;
}

/* Message CSS */
.message {
  padding: 1rem;
  text-align: center;
  font-weight: 600;
  font-family: Noto Sans;
  font-size: 0.8rem;
}

/* Yes button CSS */
.yes {
  background: #17a2b8;
  color: white;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  border-radius: 1rem;
  font-family: poppins;
  font-weight: 600;
}

.yes:hover {
  background: #118a9d;
}

/* Cancel button CSS */
.cancel {
  border-color: #cf3636;
  border-style: solid;
  color: #cf3636;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  border-radius: 1rem;
  border-width: 1px;
  font-family: poppins;
  font-weight: 600;
  background-color: white;
}

.cancel:hover {
  background: #ebebeb;
}
